.overlay,
atom-panel.modal {
  .shadow();
  border-radius: @component-border-radius;
  border: 0;
  padding: 0;
  width: 680px;
  margin-left: -340px;
  overflow: hidden;
  @media (max-width: 768px) {
    width: 88%;
    left: 50%;
    margin-left: -44%;
  }

  &.from-top {
    top: 20%;
    border-top-right-radius: @component-border-radius;
    border-top-left-radius: @component-border-radius;

    & > * {
      padding: 0;
    }
  }

  & > * > *:not(.list-group) {
    margin: @component-padding @component-padding*2;
  }

  .list-group,
  .list-tree {
    border-top: 1px solid @overlay-border-color;

    li.list-nested-item > .list-item,
    li:not(.list-nested-item) {
      padding: 0.5em @component-padding*2;

      .character-match {
        .transition(color);
        font-weight: normal;
      }
    }

    li.selected {
      .text(selected);
      background: @background-color-selected;
    }

    li:not(.selected) {
      .character-match {
        .text(normal);
      }

      .secondary-line .character-match {
        .text(invert);
      }

      &:hover {
        color: @text-color-highlight;
        background: transparent;
      }
    }
  }

  atom-text-editor.mini,
  atom-text-editor.mini::shadow {
    max-height: none;
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;

    .text {
      font-size: @ui-size * 2;
      height: 1.3em;
      line-height: 1.3em;
    }
  }

  /deep/::-webkit-scrollbar-track {
    background: @overlay-background-color;
    border-bottom-right-radius: 8px;
  }

  /deep/::-webkit-scrollbar-corner {
    background: @overlay-background-color;
  }

  /deep/::-webkit-scrollbar-thumb {
    border-color: @overlay-background-color;
    background: @scrollbar-color;
  }
}

.autocomplete-suggestion-list.select-list.popover-list,
.select-list.popover-list {
  .shadow();
  .text(normal);

  .suggestion-description {
    background: @overlay-border-color;
  }

  background-color: @overlay-background-color;
  border-radius: @component-border-radius;
  border: 0;

  atom-text-editor {
    margin-bottom: @component-padding/2;
  }

  .list-group li {
    padding-left: @component-padding/2;
    .transition(color);

    .character-match {
      .text(normal);
    }

    .left-label,
    .right-label {
      .text(bold);
      .text(invert);
    }

    .word .snippet-completion,
    .word .snippet-completion .character-match {
      .text(normal);
      .text(invert);
    }

    &.selected {
      .word {
        .text(highlight);

        .snippet-completion,
        .snippet-completion .character-match {
          .text(normal);
        }
      }
    }
  }

  /deep/::-webkit-scrollbar-track {
    background: @overlay-background-color;
  }

  /deep/::-webkit-scrollbar-corner {
    background: @overlay-background-color;
  }

  /deep/::-webkit-scrollbar-thumb {
    border-color: @overlay-background-color;
    background: @scrollbar-color;
  }
}
