.settings-view {
  font-size: @font-size;

  .breadcrumb {
    .text(subtle);
  }

  .section .section-heading {
    .text(heading);
  }

  .sub-section .sub-section-heading {
    .text(normal);
    .text(light);
  }

  .config-menu {
    background: transparent;
  }

  .package-card {
    border: none;
    padding: @component-padding 0;
    .meta-controls .status-indicator {
      width: @component-padding/2;
      &:before {
        content: "\00a0"; // fixes 0 height
      }
    }
  }

  .packages .theme-description {
    min-height: 3em;
  }

  select.form-control {
    .button(@text-color);
  }
}
