@import "ui-variables";

// Text ------------------------------------------------------------------------
.text(normal) {
  color: @text-color;
  font-family: @font-family;
  font-size: @font-size;
  letter-spacing: 0.04em;
  font-weight: 300;
}
.text(bold) {
  font-family: @font-family;
  letter-spacing: 0.04em;
  font-weight: 600;
}
.text(light) {
  font-family: @font-family;
  letter-spacing: 0.04em;
  font-weight: 100;
}
.text(subtle) {
  font-family: @font-family;
  letter-spacing: 0.04em;
  color: @text-color-subtle;
  font-weight: 300;
}
.text(highlight) {
  font-family: @font-family;
  letter-spacing: 0.04em;
  color: @text-color-highlight !important;
  font-weight: 300;
}
.text(selected) {
  font-family: @font-family;
  letter-spacing: 0.04em;
  color: @text-color-selected !important;
  font-weight: 300;
}

.text(info) {
  .text(highlight);
  color: @text-color-info;
}
.text(success) {
  .text(highlight);
  color: @text-color-success;
}
.text(warning) {
  .text(highlight);
  color: @text-color-warning;
}
.text(error) {
  .text(highlight);
  color: @text-color-error;
}

.button(@color) {
  .text(normal);
  background: transparent;
  height: @input-height;
  height: @input-height - 2px;
  border-radius: @component-border-radius;
  border: 1px solid @color !important;
  box-shadow: none !important;
  transition: all @transition-time ease;

  &:focus {
    outline: none;
  }
  &:focus,
  &[disabled],
  &:hover {
    color: @text-color-highlight;
    background: @color;
  }
  &:active {
    color: @text-color-selected;
    background: @color;
    border: 1px solid @text-color-selected !important;
  }
  &.selected {
    color: @text-color-selected;
    background: @button-background-color-selected;

    &:hover {
      border: 1px solid @background-color-highlight !important;
      background: @color;
    }
  }
}

.button-variant(@color) {
  .button(@color);
  color: @color;

  &.selected {
    color: @color;
  }
}

// Shadow ----------------------------------------------------------------------
.overlay-shadow() {
  box-shadow: 0  12px 48px 0 rgba(0, 0, 0, 0.4) !important;
}
